<div class="row">
	<div class="small-12 columns">
		<h1>Contact</h1>
	</div>
</div>
<form>
	<div class="row">
		<div class="medium-12 columns"><p>This is the blog view.</p><p>A form can easily be rendered.</p>
		</div>
	</div>

	<div class="row">
		<div class="medium-6 columns">
			<input type="text" placeholder="Name">
		</div>
		<div class="medium-6 columns">
			<input type="email" placeholder="Email">
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<input type="text" placeholder="Subject">
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
		<textarea rows="6" placeholder="Message"></textarea>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<button>Submit</button>
		</div>
	</div>
</form>
